extends base
block vars
    - var title = 'Dashboard'
block body

    h1 Dashboard
    p.
        Welcome to your dashboard! You are now logged in.
    h2 User Information
        p First Name: #{user.firstName}
        p Last Name:  #{user.lastName}
        p Email:      #{user.email}
        p Data:       #{user.data}
       form(method="post")
        label(for='NoteName') Note Name
        br
        input#NoteName(type='text', name='NoteName', placeholder='Enter Note Title', required='')
        br
        label(for='NoteContent') Note Content
        br
        textarea#NoteContent
        br
        input(type="submit", value="save")




