doctype html
html
   head
      style.
         #header {
            background-color: black;
            color: white;
            text-align: center;
            padding: 5px;
         }

         #nav {
            line-height: 30px;
            background-color: #eeeeee;
            height: 700px;
            width: 100px;
            float: left;
            padding: 5px;
         }

         #section {
            width: 350px;
            float: left;
            padding: 10px;
         }

         #footer {
            background-color: black;
            color: white;
            clear: both;
            text-align: center;
            padding: 5px;
         }
   body
      #header
         h1 Album Gallery
      #nav
         a(href='/home') Create Album
         br
         a(href='/gallery') Show Album
         br
         a(href='/login') logout
         br
      section#upload
         h2
         p Hello #{user.firstName}, please upload images
         form(action='/upload', method='post', enctype='multipart/form-data')
            input(type="label", name="albumName", value= '#{album.albumName}')
            label(for='file') Select your image:
            input(type="label", name="user_name", value = '#{user.firstName}',required=false , visibility='hidden')
            input#file(type='file', name='file')
            span.hint Supported files: jpg, jpge, png.
            button(type='submit') upload
