doctype html
html
   head
      style.
         #header {
            background-color: black;
            color: white;
            text-align: center;
            padding: 5px;
         }

         #nav {
            line-height: 30px;
            background-color: #eeeeee;
            height: 700px;
            width: 100px;
            float: left;
            padding: 5px;
         }

         #section {
            width: 350px;
            float: left;
            padding: 10px;
         }

         #footer {
            background-color: black;
            color: white;
            clear: both;
            text-align: center;
            padding: 5px;
         }
   body
      #header
         h1 Album Gallery
      #nav
         a(href='/home') Create Album
         br
         a(href='/gallery') Show Album
         br
         a(href='/login') logout
         br
      #section
         //h2 User Information
         //   p First Name: #{user.firstName}
         //   p Last Name:  #{user.lastName}
         //   p Email:      #{user.email}








      form#form(enctype='multipart/form-data')
         div
            img(src='/Users/click/Desktop/sanjayagclabs-demo/public/{{imageName}}', style='width:804px;height:228px;')

