doctype html
html
    head
        style.
            #header {
                background-color:black;
                color:white;
                text-align:center;
                padding:5px;
            }
            #nav {
                line-height:30px;
                background-color:#eeeeee;
                height:700px;
                width:100px;
                float:left;
                padding:5px;
            }
            #section {
                width:350px;
                float:left;
                padding:10px;
            }
            #footer {
                background-color:black;
                color:white;
                clear:both;
                text-align:center;
                padding:5px;
            }
    body
        #header
            h1 Album Gallery
        #nav
            a(href='/home') Create Album
            br
            a(href='/gallery') Show Album
            br
            a(href='/login') logout
            br
        #section
            h2
            p Hello #{user.firstName}
            //p Hello #{album.albumName}

            form(method="post")
                p
                    input(type="hidden", name="email", value= '#{user.email}')
                p
                    input(type='text', name="albumName", required='', value='albumName', onblur="if(this.value=='')this.value='albumName'", onfocus="if(this.value=='albumName')this.value='' ")
                p
                    input(type="submit", value='Create Album')


