extends base
block vars
   head
      title Simple Upload - Image
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      style.
         .uploaded-image {
            max-width: 100%;
         }
   body
      header
         h1 Your image was succesfuly uploaded.
      main
         section#upload
            img.uploaded-image(src='/images/<%= name %>', alt='Image name: <%= name %>')
