doctype html
html
    head
        style.
            #header {
                background-color: black;
                color: white;
                text-align: center;
                padding: 5px;
            }

            #nav {
                line-height: 30px;
                background-color: #eeeeee;
                height: 300px;
                width: 100px;
                float: left;
                padding: 5px;
            }

            #section {
                width: 350px;
                float: left;
                padding: 10px;
            }

            #footer {
                background-color: black;
                color: white;
                clear: both;
                text-align: center;
                padding: 5px;
            }
    body
        #header
            h1 Dashboard
        #section
           h2 User Information
               p First Name: #{user.firstName}
               p Last Name:  #{user.lastName}
               p Email:      #{user.email}
               p Data:       #{user.data}

               form(method="post")

               nav
                  ul
                     li
                         <a href="/home">Album Gallery</a>
                     li
                        <a href="/index">Upload Images</a>
                     li
                        <a href="/logout">Logout</a>


        #footer
            | Copyright ©