extends base
block vars
   - var title = 'Dashboard'
block body
   h1 View Notes
   p.
      Welcome to your dashboard! Check your Notes!
   h2 User Information
      p Note Name: #{user.NoteName}
      p Note Content:  #{user.NoteContent}

